version: "3.9"
services:
  gateway-service:
    build: .
    container_name: gateway-service
    ports:
      - "8080:8080"
    networks:
      - microservices-network
    depends_on:
      - user-service

networks:
  microservices-network:
    driver: bridge
